.git
.env
**/coverage
**/dist
**/node_modules
**/playwright-report
**/target
**/test-results
**/.terraform
**/*.tfstate
**/*.tfstate.*
infra/backend.hcl
infra/bootstrap/terraform.tfvars
infra/terraform.tfvars
.DS_Store
